<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
<!--    &lt;!&ndash;Permissions for internet&ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.INTERNET" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->

    <!-- Permissions for internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        tools:ignore="CoarseFineLocation" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSCI3130Project"
        tools:targetApi="s">
        <activity
            android:name=".ProvidersListings"
            android:exported="true"/>
        <activity
            android:name=".ItemDetails"/>
        <activity
            android:name=".Profile"/>
        <activity
            android:name=".AddProduct"/>
        <activity
            android:name=".SavedItems"/>
        <activity
            android:name=".RegisterPage" />
        <activity
            android:name=".SendRequestPage"
            android:exported="false">
        </activity>
        <activity
            android:name=".RequestListPage"
            android:exported="false">
        </activity>
        <activity
            android:name=".RequestDetailsPage"
            android:exported="false">
        </activity>
        <activity android:name=".EditProduct"/>
        <activity android:name=".EditProfile"/>
        <activity android:name=".Location"/>
        <activity android:name=".SendEmails"/>
        <activity
            android:name=".LoginPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>